[user]
	name = Brian Dunn
	email = brianpatrickdunn@gmail.com
[core]
	excludesfile = /Users/brian/.gitignore
[github]
	user = briandunn
	token = a347a81027259ff8117d56daebe71eee
[merge]
	tool = opendiff
	summary = true
[core]
	editor = vim
[gui]
	recentrepo = /Users/brian/src/healthleap
[diff]
	color = auto
[giggle]
	compact-mode = false
	main-window-maximized = false
	main-window-geometry = 1018x905+1918+164
